{% extends "base.html" %}

{% block title %}{{ list_title }}{% endblock %}

{% block intro %}
  <form class="navbar-form" action="{% if user.is_authenticated %}{% url 'media_create' %}{% else %}/janrain/loginpage{% endif %}">
    {% if not user.is_authenticated %}<input type="hidden" name="next" value="{% if request.get_full_path %}{{ request.get_full_path }}{% endif %}"/>{% endif %}
    <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-play-circle-o"></i> Post media</button>
  </form>
{% endblock %}

{% block content_title %}
  <div class="row">
    <div class="col-md-12">
      <h1>
        {% for t in tag_list %}
            <a href="{{ t.get_absolute_url }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
          {{list_title}}
      </h1>
    </div>
  </div>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="{% if type %}{%else%}active{%endif%}"><a href="{% url 'media_list' %}">All</a></li>
          <li class="{% if type == 'video' %}active{%endif%}"><a href="{% url 'media_type' 'video'%}"><span class="glyphicon glyphicon-play-circle"></span> Video</a></li>
          <li class="{% if type == 'rich' %}active{%endif%}"><a href="{% url 'media_type' 'rich'%}"><span class="glyphicon glyphicon-music"></span> Sound</a></li>
          <li class="{% if type == 'photo' %}active{%endif%}"><a href="{% url 'media_type' 'photo'%}"><span class="glyphicon glyphicon-camera"></span> Photo</a></li>
        </ul><br/>
        <div class="row">
  
          {% include page_template %}
          {% block js %}
              {{ block.super }}
              <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
              <script>$.endlessPaginate({paginateOnScroll: true});</script>
          {% endblock %}
     
        </div>
        {% block more_content %}{% endblock %}
      </div>
  </div>
{% endblock %}

{% block more_javascript_after %}
<script type="text/javascript">
      $(document).ready(function () {

          var sugg = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: '/media/suggest_tag?q=%QUERY'
        });

        sugg.initialize();

        $("#searchmedia").typeahead(null, {
          source: sugg.ttAdapter(),
        })
        .on('typeahead:opened', onOpened)
        .on('typeahead:selected', onAutocompleted)
        .on('typeahead:autocompleted', onAutocompleted);
        $('.tt-hint').addClass('form-control');


        function onOpened($e) {

        }

        function onAutocompleted($e, datum) {
          window.location=datum.link
        }

      });
    </script>
{% endblock %}

{% block media %}{% endblock %}
{% block contact %}{% endblock %}
{% block map %}{% endblock %}
{% block footer %}{% endblock %}

