
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Total Feeling Crew</title>

    <!-- Bootstrap Core CSS -->
    <link href="/site_media/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <!-- Custom CSS -->
    <link href="/site_media/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/site_media/static/bower_components/font-awesome/css/font-awesome.min.css">
    
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Total</span> Feeling
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#members">Members</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#footage">Footage</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{% block title %}{% endblock %}</h1>
                        <p class="intro-text">{% block intro %}Welcome to the french flava.<br>Peace.{% endblock %}</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        {% block container %}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Total Feeling Crew</h2>
                    <p>Since 2002....</p>
                    <p>From Seine Saint Denis....</p>
                    <p>Now fuck...</p>
                </div>
            </div>
        {% endblock %}
    </section>

    {% block members %}{% endblock %}

    {% block media %}
        <!-- Footage Section -->
        <section id="footage" class="content-section text-center">
            <div class="container">
                <div class="col-lg-12">
                    <h2>Footage</h2>
                    {% include "base_thumbnail_page.html" %}
                </div>
                    <hr/>
                    <a type="button" class="btn btn-default" href="{% url 'media_list' %}">More media</a>
            </div>
        </section>
    {% endblock %}

    {% block contact %}
        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p>Feel free to email us...</p>
                    <p><a href="mailto:bboy.stats@gmail.com">bboy.stats@gmail.com</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/bboyrankingz" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/bboyrankingz" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/pages/Total-Feeling-Crew/7585938274" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block map %}
        <!-- Map Section -->
        <div id="map"></div>
    {% endblock %}

    {% block footer %} 
        <!-- Footer -->
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; Total Feeling Crew by Bboyrankingz 2014</p>
            </div>
        </footer>
    {% endblock %}


    <!-- jQuery -->
    <script src="/site_media/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="/site_media/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="/site_media/static/bower_components/jquery.easing/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    {% block more_javascript_after %}
    {% endblock %}

    <!-- Custom Theme JavaScript -->
    <script src="/site_media/static/js/grayscale.js"></script>

</body>

</html>
