{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h2>Homepage</h2>{% endblock %}

{% block members %}
    <section id="members" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Members</h2>
                    {% for person in persons %}
                        <a href="{{ person.get_absolute_url }}">
      						<img class="img-circle" style="width: 140px; height: 140px;" src="{{ person.get_photo}}"/>
    					</a>
                    {% endfor %}
                    <p>List</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}