{% extends "base.html" %}


{% block title %}{{ object.title }}{% endblock %}

{% block more_meta %}
  <meta property="og:image" content="{{ metadata.thumbnail_url }}" />
  <meta property="og:description" content="{{ metadata.description|striptags }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@bboyrankingz" />
  <meta name="twitter:creator" content="@bboyrankingz" />
  <meta name="twitter:title" content="{{object.title}}" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image:src" content="{{ metadata.thumbnail_url }}" />
{% endblock %}

{% block intro_body %}
                <div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>
        <a href="{{ object.url }}" target="_blank">{{ metadata.title }}
        {% if metadata.provider_name = 'YouTube' %}
          <i class="fa fa-youtube"></i>
        {% elif metadata.provider_name = 'Vimeo' %}
          <i class="fa fa-vimeo-square"></i>
        {% elif metadata.provider_name = 'Dailymotion' %}
          <i class="fa fa-play-circle"></i>
        {% elif metadata.provider_name = 'Instagram' %}
          <i class="fa fa-instagram"></i>
        {% elif metadata.provider_name = 'SoundCloud' %}
          <i class="fa fa-cloud"></i>
        {% elif metadata.provider_name = 'Flickr' %}
          <i class="fa fa-flickr"></i>
        {% endif %}
        </a>
      </h1>
    </div>
  </div>
  </div>
{% endblock %}

{% block container %}
    <div class="row">
    <div class="col-md-12">
        {% if object.submitted_by == user or user.is_superuser %}
          <p class="pull-right"><a class="btn btn-default" id="popover" data-toogle="popover" data-placement="top" data-original-title="Edit or Remove" data-html="true" data-content="<a href=&quot;{% url 'media_edit' object.pk%}&quot;>Edit</a><br><a href=&quot;{% url 'media_remove' object.pk%}&quot;>Remove</a>" href="#">Edit</a></p>
        {% endif %}
        <div class="embed-responsive embed-responsive-16by9">
          {% if metadata.html %}
            {{ metadata.html |safe }}
          {% else %}
            <img src="{{ metadata.url }}"/>
          {% endif %}
        </div>
        {% if tag_list %}
          <p>
            {% for t in tag_list %}
              {% if t.start %}
                <h2>{{ players.name }} <a href="{{ t.get_absolute_url }}">{{ t.title }}</a></h2>
                {% if players %}
                <h3>Winner: 
                    {% for w in players.winners %}
                        <a href="{{ w.get_absolute_url }}" title="{{w}}">
                          {{w}}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                 </h3>
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% if metadata.description %}
          <h3><i class="fa fa-info"></i> Info</h3>
          {{metadata.description}}
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block map %}{% endblock %}
