
<!DOCTYPE html>
<html lang="en" ng-app="tfc">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to Total Feeling website">
    <meta name="author" content="bboyrankingz">
    <meta property="og:image" content="site_media/static/img/tfc_clan.jpg">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@bboyrankingz" />
    <meta name="twitter:creator" content="@bboyrankingz" />
    <meta name="twitter:title" content="LCB CHOOSE YOUR DESTINY 6 !" />
    <meta name="twitter:description" content="Welcome to Total Feeling website" />
    <meta name="twitter:image:src" content="site_media/static/img/tfc_clan.jpg">

    <title>Total Feeling Crew</title>

    <!-- Bootstrap Core CSS -->
    <link href="site_media/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <!-- Custom CSS -->
    <link href="site_media/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="site_media/static/bower_components/font-awesome/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="Media" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i>  <span class="light">Total</span> Feeling
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#members">Members</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#footage">Footage <span class="badge">{{reddit.count}}</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro" ng-class="intro" id="vid_promo">
        <div class="intro-body">
            <div class="container">
                <a id="bgndVideo" class="player" data-property="{videoURL:'QUOsEQXOwCo',containment:'#vid_promo', ratio:'16/9', autoPlay:true, mute:true, startAt:0, stopAt:240, opacity:1, loop:false, gaTrack:false, showYTLogo:false, showControls:false}"></a>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{object.title}}</h1>
                        <p class="intro-text">Welcome to total feeling official website</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div>
                <h2>About {{object.title}}</h2>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/bboyrankingz" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/bboyrankingz" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/pages/Total-Feeling-Crew/7585938274" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Awards</h3>
                        <ul class="list-unstyled" ng-repeat="result in results track by $index">
                            <li ng-show="result != null">{{ result}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Quote</h3>
                        <p class="intro-text">
                            <div>
                                <p ng-bind-html="description"></p>
                            </div>
                        </p>
                        <h3>Spot</h3>
                        <address>
                            9 rue Roger Salengro, Le Bourget, France
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="members" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <h2>Crew mates</h2>
                <div class="col-lg-8" ng-repeat="member in members">
                    <div class="media">
                      <h3 class="media-heading">
                        <a href="#vid_promo" class="btn btn-circle page-scroll" ng-click="show_member(member.slug, member.name)">{{ member.name}}
                        </a>
                      </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footage Section -->
    <section id="footage" class="content-section text-center">
        <div class="container">
            <div class="col-lg-12">
                <h2>Footage</h2>
            </div>
            <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9" ng-bind-html="embed"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1' ng-cloak>
                <div ng-repeat="group in (reddit.items | groupBy: 'created | amTimeAgo' | toArray:true | orderBy:'created')">
                    <div class="row">
                      <div class="col-md-12"><h3><b><i class="fa fa-calendar"></i> {{ group.$key }}</b></h3></div>
                    </div>
                    <hr/>
                    <div class="col-sm-6 col-md-3" ng-repeat="media in group">
                      <div class="media">
                        <a ng-href="#myModal" ng-click="open(media.id)" class="thumbnail video-list-thumbs" title="{{ media.title }}" data-toggle="modal">
                          <img style="width: 480px; height: 181px;" ng-src="{{ media.thumbnail_url }}"/>
                          <div ng-switch="media.media_type">
                            <span ng-switch-default class="glyphicon glyphicon-play-circle"></span>
                            <span ng-switch-when="rich" class="glyphicon glyphicon-music"></span>
                            <span ng-switch-when="photo" class="glyphicon glyphicon-camera"></span>
                          </div>
                        </a>
                        <div style='clear: both;'></div>
                      </div>
                    </div>
                </div>
                <div ng-show='reddit.busy'>Loading data...</div>
            </div>
            <!-- <a type="button" class="btn btn-default" href="">More media</a> -->
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Total Feeling Crew by <a href="http://bboyrankingz.com">Bboyrankingz</a> 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="site_media/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="site_media/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="site_media/static/js/grayscale.js"></script>


    <script src="site_media/static/bower_components/angular/angular.min.js"></script>
    <script src="site_media/static/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="site_media/static/js/media.js"></script>
    <script src="site_media/static/js/reddit.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
    <script src="site_media/static/bower_components/angular-truncate/src/truncate.js"></script>
    <script src="site_media/static/bower_components/moment/min/moment.min.js"></script>
    <script src="site_media/static/bower_components/angular-moment/angular-moment.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="site_media/static/bower_components/jquery.easing/js/jquery.easing.min.js"></script>


    <script src="site_media/static/bower_components/jquery.mb.ytplayer/inc/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
            $(".player").mb_YTPlayer();
        });
    </script>

</body>

</html>
